.question,
.dialog {
  margin-top: 0.5rem;
  border: 3px solid #33495d;
  padding: 5px 20px 0 20px;
  border-radius: 5px;
}

.question ul {
  list-style-type: none;
  padding: unset;
}

.dialog {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.dialog > div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  /*width: 100%;*/
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.but {
  margin-left: 7px;
}

.submit-test {
  margin: 10px auto;
}

.back-link {
  margin-top: 10px;
}

.comment {
  border: 1px solid black;
  padding: 5px;
}

.textArr {
  margin-top: 7px;
}
